body{
    font-family: 'Poppins','Roboto', sans-serif !important;
    /* background-color: rgba(10, 10, 10, 0.801); */
    background-image: url("../../image/cover.jpg");
    background-repeat: no-repeat;
    background-size:100%;

}
.body{
    height: 100vh;
    
    
}
.intro{
    position: absolute;
    left: 40%;
    top: 200px;
    transform: translateY(-50%,-50%);
    z-index:10;
}
.name{
    color:white;
    font-size: 30px;
}
.typical{
    color:tomato;
    font-size: 50px;
}
.links{
    display: flex;
    text-align: center;
    margin-left: 30px;

}
.links a{
    width: 40px;
    height: 40px;
    /* line-height: 40px; */
    text-decoration: none;
    color: black;
    margin-left: 10px;
    /* padding: 0 8px; */
    background-color:white;
    border-radius: 50%;
    /* text-transform: capitalize; */
}
.links a:hover{
    background-color: rgb(20, 15, 15);
    color:white;
}



@media screen and (max-width:425px) {
    body{
       
        background-size:cover;
        height: 100vh;
    }
    .intro{
        position: absolute;
        top: 150px;
        left:35%;
        transform: translateY(-50%,-50%);
        z-index: 10;
    }
    .links{
        display: flex;
        margin-left: 10px;
    }
    .links a{
        /* display: none; */
        /* display: block;*/
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%; 
        /* text-align: center; */
        /* line-height: 30px; */
        text-decoration: none;
        margin-left: 10px;
        color: #000;
    }
    .typical{
        color:tomato;
        font-size: 30px;
    }
}
